<div class="user-coin-card">
    <div class="user-coin-card-centered">
        <img src="/assets/images/icons/card-logo.svg" alt="logo">
        <img src="/assets/images/icons/wallet-logo.svg" alt="logo">
    </div>
    <div class="user-coin-card-wallet-address">
        1234 5678 9101 1111
    </div>
    <div class="user-coin-card-name">
        Erfan Rezaie
    </div>
    <div class="user-coin-card-centered">
        <div class="card-data">2025/5/1</div>
        <img src="/assets/images/icons/bitcoin-icon.svg" alt="">
    </div>
</div>