<div class="user-info">
    <div class="avatar">
        <app-user-avatar 
            [userAvatar]="userAvatar"
            (userChangeAvatarEvent)="userRandomizeAvatar()"
        ></app-user-avatar>
    </div>
    <div class="user-nickname">
        <div class="user-name">Stayyourself</div>
        <div class="description">Creator Pro+</div>
    </div>
    <div class="notification">
        <img src="/assets/images/icons/bell.png" alt="notification-icon">
    </div>
    <div 
        class="wallet" 
        [ngClass]="{'active': web3Service.isMetaMaskWalletConnected }">
        <img
            [ngStyle]="{'cursor': web3Service.isMetaMaskWalletConnected ? 'not-allowed' : 'pointer'}" 
            src="/assets/images/icons/metamask-icon.svg" 
            alt="wallet-icon" 
            (click)="metamaskConnect()">
    </div>
    <div 
        class="wallet-connect" 
        [ngClass]="{'active': web3Service.isTrustWalletConnected }">
        <img 
            [ngStyle]="{'cursor': web3Service.isTrustWalletConnected ? 'not-allowed' : 'pointer'}" 
            src="/assets/images/icons/WalletConnect-icon.svg" 
            alt="wallet-icon" 
            (click)="walletConnect()">
    </div>
</div>